<script>
import actions from './actions';
import axios from 'axios';

export default {
    components: { ...actions },

    props: {
        chat: Object,
    },

    data: () => ({
        selectedAction: null,
        payload: null,
        isValid: false,
        isRunning: false,
        isSuccessful: false,
    }),

    computed: {
        availableActions () {
            const result = [];

            for (let name in actions) {
                if (!actions.hasOwnProperty(name)) continue;

                result.push({ value: name, text: actions[name].title || name });
            }

            return result;
        },
    },

    methods: {
        _run () {
            if (this.isRunning) return;

            this.isRunning = true;
            this.isSuccessful = false;

            axios.post(`/api/chats/${this.chat.id}/run/${this.selectedAction}`, this.payload).then((resp) => {
                this.payload = null;
                this.isRunning = false;
                this.isSuccessful = true;
            }).catch(() => {
                this.isRunning = false;
            });
        },
    },
}
</script>

<template>
    <v-form v-model="isValid">
        <v-card :loading="isRunning">
            <v-card-title>Run action</v-card-title>
            <v-card-text>
                <v-select
                    v-model="selectedAction"
                    :items="availableActions"
                    label="Action type"
                    item-text="text"
                    item-value="value"
                />

                <component v-if="selectedAction" :is="selectedAction" :payload.sync="payload" />

                <v-alert v-if="!chat" type="warning" outlined>Please, select chat to run an action</v-alert>
            </v-card-text>

            <v-card-actions v-if="chat">
                <v-btn color="primary" :disabled="!selectedAction || !isValid || isRunning" @click="_run">Run</v-btn>
            </v-card-actions>
        </v-card>

        <v-snackbar v-model="isSuccessful" color="success">Action run successfully!</v-snackbar>
    </v-form>
</template>
