<script>
import axios from 'axios';
import MessengersTable from './MessengersTable';
import FieldsView from './FieldsView';
import ContactsTable from './ContactsTable';
import ChatsTable from './ChatsTable';
import ActionForm from './ActionForm';
import LiveLogsTable from './LiveLogsTable';

export default {
    components: { LiveLogsTable, ActionForm, ChatsTable, ContactsTable, FieldsView, MessengersTable },

    fields: [
        { value: 'id', text: 'ID' },
        { value: 'external_id', text: 'External ID' },
        { value: 'locale', text: 'Locale' },
        { value: 'tz', text: 'Timezone' },
        { value: 'extra_data', text: 'Extra data', type: 'json' },
    ],

    props: [ 'id' ],

    data: () => ({
        loading: true,
        app: null,
        selectedMessenger: null,
        selectedContact: null,
        selectedChat: null,
    }),

    created () {
        this._load();
    },

    methods: {
        _load () {
            axios.get(`/api/apps/${this.id}`).then((resp) => {
                this.app = Object.freeze(resp.data.data);
                this.loading = false;
            });
        }
    },
}
</script>

<template>
    <v-progress-circular v-if="loading" indeterminate />
    <div v-else>
        <v-row>
            <v-col lg="6">
                <v-card class="mb-3">
                    <v-card-title>{{ app.type }} app</v-card-title>
                    <v-card-text>
                        <FieldsView :fields="$options.fields" :value="app" />
                    </v-card-text>
                </v-card>

                <MessengersTable v-model="selectedMessenger" :app-id="app.id" class="mb-3" />
                <ContactsTable v-model="selectedContact" :app-id="app.id" class="mb-3" />
                <ChatsTable v-model="selectedChat" :app-id="app.id" class="mb-3" />
            </v-col>

            <v-col lg="6">
                <LiveLogsTable
                    :app-id="app.id"
                    class="mb-3"
                    @contact="selectedContact = $event"
                    @chat="selectedChat = $event"
                />
                <ActionForm :chat="selectedChat" />
            </v-col>
        </v-row>
    </div>
</template>
