<script>
import axios from 'axios';
import FieldsView from './FieldsView';

export default {
    components: { FieldsView },
    headers: [],
    fields: [],
    resource: null,
    title: '',
    allowImport: true,

    props: {
        appId: { type: Number, required: true },
        value: null,
    },

    data: () => ({
        isLoading: false,
        items: [],
        totalItems: undefined,
        expanded: false,
    }),

    //created () {
    //    this._load();
    //},

    methods: {
        _load (params) {
            if (this.isLoading) return;

            this.isLoading = true;

            axios.get(`/api/apps/${this.appId}/${this.$options.resource}`, { params }).then((resp) => {
                this._syncResp(resp);
                this.isLoading = false;
            }).catch(() => {
                this.isLoading = false;
            });
        },

        _import () {
            if (this.isLoading) return;

            this.isLoading = true;

            axios.post(`/api/apps/${this.appId}/${this.$options.resource}/import`).then((resp) => {
                this._syncResp(resp);
                this.isLoading = false;
            }).catch(() => {
                this.isLoading = false;
            });
        },

        _syncResp (resp) {
            this.items = resp.data.data.map((i) => Object.freeze(i));
            this.totalItems = resp.data?.meta.total;
        },

        _reload () {
            this._load(this.$refs.grid.options);
        },
    },
}
</script>

<template>
    <v-card>
        <v-toolbar flat>
            <v-toolbar-title>
                <v-icon>{{ expanded ? 'mdi-chevron-down' : 'mdi-chevron-up' }}</v-icon>
                <a href="#" @click.prevent="expanded = !expanded">{{ $options.title }}</a>
            </v-toolbar-title>
            <v-spacer />
            <v-btn
                v-if="$options.allowImport && expanded"
                :disabled="isLoading"
                color="primary"
                @click="_import"
            >Import</v-btn>
        </v-toolbar>

        <v-data-table
            v-if="expanded"
            :value="[ value ]"
            :headers="$options.headers"
            :items="items"
            :loading="isLoading"
            :server-items-length="totalItems"
            item-key="id"
            show-select
            single-select
            show-expand
            single-expand
            @input="$emit('input', $event[0])"
            @update:options="_load($event)"
            ref="grid"
        >
            <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                    <FieldsView :fields="$options.fields" :value="item" />
                </td>
            </template>

            <template v-slot:footer.prepend>
                <v-btn plain @click="_reload">Reload</v-btn>
            </template>
        </v-data-table>
    </v-card>
</template>
