<script>
export default {
    props: {
        value: Object,
        fields: {
            type: Array,
            required: true,
        },
    },
}
</script>

<template>
    <ul class="field-list">
        <template v-for="f in fields">
            <li>
                <strong>{{ f.text }}:</strong>
                <span class="value">
                    <template v-if="f.type === 'json'">
                        <code class="d-inline-block">{{ value[f.value] || '–' }}</code>
                    </template>

                    <template v-else>
                        {{ value[f.value] || '–' }}
                    </template>
                </span>
            </li>
        </template>
    </ul>
</template>
