<script>
export default {
    props: {
        value: Object,
        fields: {
            type: Array,
            required: true,
        },
    },
}
</script>

<template>
    <div>
        <template v-for="f in fields">
            <v-text-field v-model="value[f.value]" :label="f.text" />
        </template>
    </div>
</template>
