<script>
import BaseResource from './BaseResource';

export default {
    extends: BaseResource,
    resource: 'logs',
    title: 'Logs',

    headers: [
        { value: 'created_at', text: 'Date' },
        { value: 'type', text: 'Type' },
        { value: 'chat', text: 'Chat' },
        { value: 'contact', text: 'Contact' },
        { value: 'payload', text: 'Payload' },
    ],

    created () {
        Echo.channel(`app.${this.appId}`).listen('NewEvent', (e) => {
            this.items.splice(0, 0, Object.freeze(e));
        });
    }
}
</script>

<template>
    <v-data-table
        :headers="$options.headers"
        :items="items"
        :loading="isLoading"
        :server-items-length="totalItems"
        item-key="id"
        class="elevation-2"
        @update:options="_load($event)"
    >
        <template v-slot:top>
            <v-toolbar flat>
                <v-toolbar-title>Logs</v-toolbar-title>
            </v-toolbar>
        </template>

        <template v-slot:item.created_at="{ value }">
            {{ value | relative_time }}
        </template>

        <template v-slot:item.chat="{ value }">
            <a v-if="value" href="#" @click.prevent="$emit('chat', value)">{{ value.external_id }}</a>
        </template>

        <template v-slot:item.contact="{ value }">
            <a v-if="value" href="#" @click.prevent="$emit('contact', value)">{{ value.name || value.external_id }}</a>
        </template>

        <template v-slot:item.payload="{ value }">
            <code class="d-inline-block" style="max-width: 300px">
                {{ value ? JSON.stringify(value, null, 2) : '' }}
            </code>
        </template>

        <template v-slot:footer.prepend>
            <v-btn plain @click="_reload">Reload</v-btn>
        </template>
    </v-data-table>
</template>
