<script>
import FormFields from '../FormFields';

export default {
    components: { FormFields },
    fields: [],
    props: {
        payload: Object,
    },

    watch: {
        payload: {
            immediate: true,
            handler: function (v) {
                if (v) return;

                const payload = {};

                this.$options.fields.forEach((f) => {
                    payload[f.value] = f.default || null;
                });

                this.$emit('update:payload', payload);
            },
        },
    },
}
</script>

<template>
    <FormFields v-if="payload" :fields="$options.fields" :value="payload" />
</template>
